.title {margin: 0px;}
.weui-picker-modal .picker-item {color: black;}
.weui-picker-modal .picker-item.picker-selected {color: rgb(199, 169, 21);}
.container{ max-width:640px;  overflow:hidden;}
.aui_state_noTitle {z-index: 99999999 !important;}