@import "../config";
body{
  background: $color-bg;
}
.list{
  .item{
    margin: r(30);
    background: $color-white;
    border:1px solid $color-border-e5;
    border-radius:6px;
    .top{
      border-bottom: 1px solid $color-border-e5;
      position: relative;
      padding: r(30) 0;
      margin: 0 r(20);
      img{
        width: r(100);
        height: r(100);
        margin: 0 r(20);
        float: left;
      }
      .text{
        display: inline-block;
        height: r(100);
        .title{
          font-size: r(32);
          color: $color-333;
          margin: r(10) 0;
          display: block;
        }
        .number{
          font-size: r(28);
          color: $color-999;
        }
      }
    }
    .bottom{
      padding: r(20) r(30);
      .text{
        font-size: r(28);
        color: $color-666;
      }
    }
  }
}
