<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=0">
    <title>预约详情</title>
    <link rel="stylesheet" href="../lib/mui/mui.min.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/diagnosis/order.css"/>
    <script type="text/javascript" src="../js/common/flexible.js"></script>
</head>
<body>
<div id="webapp">
    <div class="list-page type-one listShow">
        <div class="intro-info">
            <div class="info">
                <img :src="picUrl.listIcon+'/'+info.icon" class="img"/>
                <span class="title" v-text="info.name"></span>
            </div>
            <span class="price" v-text="info.default_price_yuan+'元/次'||''"></span>
        </div>
        <span class="comment mt-40">就诊人信息</span>

        <div class="list">
            <!--:class="info['visitor_name'][0]==1"-->
            <div class="item user-info arrows-right" @click="showUserInfo">
                <div class="user-icon left-icon"></div>
                <div class="hide" :class="{show:dataFrom['visitor_name'].length>0}">
                    <div class="user-top">
                        <div class="user-name">就诊人：<span v-text="dataFrom['visitor_name']"></span></div>
                        <div class="user-phone"><span v-text="dataFrom['visitor_phone']"></span></div>
                        <div class="clear-both"></div>
                    </div>

                    <div class="user-bottom user-idcard">
                        身份证：<span v-text="dataFrom['visitor_id_card']"></span>
                    </div>
                </div>
                <div>
                    <span class="title" v-if="dataFrom['visitor_name'].length<=0">请选择就诊人</span>
                </div>
            </div>
            <!--<div class="item" :class="{show:required['visitor_name'][0]==1}">-->
                <!--<span class="title">就诊人姓名</span>-->
                <!--<input type="text" placeholder="{{required['visitor_name'][1]==1?'必填':'选填'}}"-->
                       <!--v-bind:value="dataFrom['visitor_name']"-->
                       <!--v-on:input="oninput($event.target.value,'dataFrom','visitor_name')"/>-->
            <!--</div>-->

            <!--<div class="item" :class="{show:required.visitor_id_card[0]==1}">-->
                <!--<span class="title">就诊人身份证</span>-->
                <!--<input type="text" placeholder="{{required['visitor_id_card'][1]==1?'必填':'选填'}}"-->
                       <!--v-bind:value="dataFrom['visitor_id_card']"-->
                       <!--v-on:input="oninput($event.target.value,'dataFrom','visitor_id_card')"/>-->
            <!--</div>-->
            <!--<div class="item" :class="{show:required.visitor_phone[0]==1}">-->
                <!--<span class="title">就诊人手机号</span>-->
                <!--<input type="text" placeholder="{{required['visitor_phone'][1]==1?'必填':'选填'}}"-->
                       <!--v-bind:value="dataFrom['visitor_phone']"-->
                       <!--v-on:input="oninput($event.target.value,'dataFrom','visitor_phone')"/>-->
            <!--</div>-->
            <div class="mt-40"></div>
            <div class="item arrows-right mt-40 picker" :class="{show:required.reservation_time[0]==1}"
                 @click="chooseDate">
                <span class="title">就诊日期</span><span class="text" v-text="choosedate||''"></span>
            </div>
            <div class="item arrows-right" :class="{show:required.order_hospital[0]==1}"
                 @click="chooseHospital">
                <span class="title">预约医院</span>
                <span class="text" v-text="choose_hospital_name"></span>
            </div>
            <!--<div class="item arrows-right" @click="chooseDeparment"-->
                 <!--:class="{show:required.order_department[0]==1}">-->
                <!--<span class="title">预约科室</span>-->
                <!--<span class="text" v-text="choose_department_name"></span>-->
            <!--</div>-->
            <div class="item arrows-right picker" :class="{show:required.order_doctor[0]==1}"
                 @click="chooseDoctor">
                <span class="title">科室医生</span><span class="text" v-html="chooseDoctorText||''"></span>
            </div>
            <div class="item hide" :class="{show:showOtherDoctor}">
                <span class="title">选填科室医生</span>
                <input type="text" placeholder="如选项无目标科室医生可自行填写"
                       v-bind:value="dataFrom['order_doctor']"
                       v-on:input="oninput($event.target.value,'dataFrom','order_doctor')"/>
            </div>
            <div class="item" @click="choosePicker('is_recommend_hospital','recommend_hospital')"
                 :class="{show:required.is_recommend_hospital[0]==1}">
                <span class="title">是否推荐医院</span>
                <span v-text="recommend_hospital"></span>
            </div>

            <div class="item" @click="choosePicker('has_diagnosis_card','chooseCard')"
                 :class="{show:required.has_diagnosis_card[0]==1}">
                <span class="title">是否有医疗卡</span>
                <span v-text="chooseCard"></span>
            </div>

            <div class="item" :class="{show:required.upload_img[0]==1}" @click="chooseUpload">
                <span class="title">预约单拍照</span>
                <form action="" enctype="multipart/form-data" method="post" class="hidden" id="upload_img_form">
                    <input type="file" @change="fileChange($event)" name="file" class="hidden" id="upload_img"
                           v-model="chooseUploadImg">
                </form>
                <div class="img-list">
                    <img :src="item.src" v-for="item in imgList" class="upload-img"/>
                </div>

            </div>

        </div>
        <div class="order-btn" @click="saveOrder">
            <span class="btn-text">立即预约</span>
        </div>
    </div><!--one-end-->


</div>
<!--<div id="myInit"></div>-->
</body>

<script type="text/javascript" src="../lib/requirejs/require.js"></script>
<script type="text/javascript" src="../js/common/require_config.js"></script>
<script type="text/javascript">window.onload = function () {
    require(['../app/diagnosis/order'], function (index) {
    })
}</script>
</html>