@import "../config";
@include chooseContent;
.page-search{
  position: fixed;
  background: $color-bg;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  padding: r(30);
  white-space: nowrap;
}
.search-input {
  position: relative;
  z-index: 99;
  .page-input {
    width: 100%;
    border-radius: r(30);
    height: auto;
    line-height: normal;
    border: 1px solid $color-border-e5;
    font-size: r(28);
    margin: 0;
    padding: 0;
    padding:r(14) r(10) r(14) r(80);
    z-index: 99;
  }
  .serach-btn {
    position: absolute;
    left: r(10);
    top: r(2);
    width: r(60);
    height: r(60);
    background-image: url(#{$wxapp_icon}/search.png);
    margin: 0;
    padding-left: r(10);
    z-index: 100;
    display: inline-block;
    vertical-align: middle;
    background-size: r(40) r(40);
    background-position: r(10) r(10);
    background-repeat: no-repeat;
  }
}

.list{
  margin-top: r(120);
}