@import "../config";
.container{padding: 0 r(20);}
body{background: #fff;}
.baby-info{
  height:r(100);
  margin: 0 r(48);
  @include flex-center;
  width: 100%;
  .baby-info-pic{
    width: r(100);
    height: r(100);
    border-radius: 50%;
    margin-right: r(20);
    @include flex-grow(1);
    max-width: r(100);
    .baby-pic{
      max-width: 100%;
    }
  }
  .baby-info-detail{
    @include flex-grow(1);
    .no-baby-info{
      height: r(60);
      line-height: r(60);
      border:1px solid $color-green;
      border-radius: r(12);
      font-size: r(16);
      color: $color-green;
    }
  }
}