<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="../lib/mui/mui.min.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/healthRecord/historyQuestions.css"/>
    <script type="text/javascript" src="../js/common/flexible.js"></script>
</head>
<body id="webapp">
<div class="question-content">
    <div class="question-list hide" :class="{'show':question_o.length>0}">
        <div class="question-item" v-for="item in question_o">
            <p class="title"><span v-text="item.title"></span></p>
            <div class="options options-radio">
                <div class="option-item radio-item" :class="{'active':opti.isSelected}" v-for="opti in option_p[item.id]" @click="chooseItem(item,opti)"><span v-html="opti.name"></span></div>
            </div>
        </div>

    </div>
    <div class="question-save">
        <a href="javascript:;" class="save-btn" @click="saveBtn">提交</a>
    </div>
</div>

</body>
<script type="text/javascript" src="../lib/requirejs/require.js"></script>
<script type="text/javascript" src="../js/common/require_config.js"></script>
<script type="text/javascript">window.onload = function () {
    require(['../app/healthRecord/historyQuestions'], function (index) {
    })
}</script>
</html>
